.LoaderComponent{
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: rgb(238, 208, 168);
    &__header{
        display: flex;
        flex-direction: column;
        align-items:center;
        position: relative;
        height: 7rem;
    };
    &__body{
        display:block;
        position: relative;
        width: 100%;
        height: 100%;
        overflow-y: scroll;
        background-color: rgb(255, 255, 255);
    };
    &__loading-indicator{
        display: flex;
        flex-direction: column;
        align-items:center;
        height: 4rem;
        & > * {
            display: none;
        }
        &.loading{
            background-color: rgb(6, 127, 175);
            color: rgb(255, 255, 255);
            & > * {
                display: block;
            }
        }
    };
    &__footer{
        display: flex;
        flex-direction: column;
        align-items:center;
        position: relative;
        height: 7rem;
    };
    &__interface{
        display: flex;
        flex-direction: row;
        position: relative;
        height: 7rem;
        align-items:center;

        & > * {
            height: 4rem;
            margin: 0.2rem 0.4rem;
            padding: 0.2rem 0.8rem;
            border: 1px solid rgb(49, 49, 49);
            display: flex;
            align-items: center;
        }
    }

    .article{
        margin: 0.2rem 0.4rem;
        padding: 0.5rem;
        border: 1px solid rgb(49, 49, 49);
    }
}