html, body, div#root {
  width: 100%;
  height: 100%;
  position: relative;
}
html {
  display: table;
  font-size: 10px;
  font-family: 'Roboto', sans-serif;
}
body{
  display: table;
  font-size: 1.8rem;
  background-color: #6dc4ff;
}
div#root{
  display: table-cell;
  vertical-align: middle;
  padding: 1rem;
}
.App {
  display: flex;
  position: relative;
  flex-direction: column;
  max-width: 90rem;
  width: 100%;
  max-height: 90rem;
  height: 100%;
  border: #bae3ff 0.2rem solid;
  border-radius: .5rem;
  margin: 0 auto;
  vertical-align: middle;
}
